extends layout

block content
  .quest-canvas

  .templates
    script(type='text/html', id='quest-list-template')
      h2 Your Quests:
      ul.quests

    script(type='text/html', id='quest-row-template')
      img(src='#')
      .name
        <%= name %>

    script(type='text/html', id='quest-template')
      .world-canvas

    script(type='text/html', id='quest-final-template')
      h2 Congratulations, you've finished the Quest!
      dl
        dt Score
        dd <%= score %>
        dt Duration
        dd <%= duration %>
        dt Right Worlds
        dd <%= rightWorlds %>
        dt Wrong Worlds
        dd <%= wrongWorlds %>
        dt Used Clues
        dd <%= usedClues %>

    script(type='text/html', id='worlds-list-template')
      h4 Next World:
      ol.worlds

    script(type='text/html', id='world-row-template')
      img(src="#")
      .name
        <%= name %>

    script(type='text/html', id='world-template')
      header
        h2 <%= name %>
      ul.clues

    script(type='text/html', id='clues-template')
      h4 Clues:
      .clue
      .next-clue Next Clue >

    script(type='text/html', id='clue-template')
      <%= phrase %>

    script(type='text/html', id='suspects-template')
      header
        h2 Who is the Suspect?
      ul.clues
      ol.suspects

    script(type='text/html', id='suspect-template')
      img(src="#")
      .name
        <%= name %>

