extends layout

block content
  h1 NerdQuest
  #content

  .templates
    script(type='text/html', id='quest-list-template')
      h1 Your Quests:
      ul.quests

    script(type='text/html', id='quest-row-template')
      a(href='#', class='quest-title') <%= name %>

    script(type='text/html', id='quest-briefing-template')
      h1 <%= name %>
      .next-worlds
        p <%= description %>
        button.quest-start Start Quest

    script(type='text/html', id='worlds-list-template')
      ol.worlds

    script(type='text/html', id='world-row-template')
      h2 <%= name %>

    script(type='text/html', id='world-template')
      h2 <%= name %>
      .clues
        h3 Clues:
      h3 Next World:

    script(type='text/html', id='clue-template')
      p <%= phrase %>
