extends layout

block content
  h1 NerdQuest
  #content

  #templates
    script(type='text/html', id='quest-list-template')
      h1 Your Quests:
      ul.quests

    script(type='text/html', id='quest-row-template')
      a(href='#', class='quest-title') <%= name %>

    script(type='text/html', id='quest-briefing-template')
      h2 <%= name %>
      p <%= description %>
      button.quest-start Start

    script(type='text/html', id='worlds-template')
      h1 Worlds:

    script(type='text/html', id='world-template')
      h2 <%= name %>
