ul,
ol {
  margin: 0;
  list-style: none;
}
body {
  font-family: 'GraphicPixel', sans-serif;
  font-size: 18px;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.9);
  background: url("/images/wood.png") repeat;
}
.wrapper {
  width: 1168px;
  min-height: 500px;
  margin: 0 auto;
  padding: 40px;
  background: url("/images/parchment.png") no-repeat;
}
h1.logo {
  margin: 40px 0;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.1em;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.9);
}
h2 {
  text-align: center;
}
i {
  display: inline-block;
  zoom: 1;
  *display: inline;
  height: 25px;
  width: 25px;
  margin-right: 5px;
  background: url("/images/sprite.png") no-repeat center center;
  vertical-align: text-bottom;
}
i.sign {
  background-position: 0 0;
}
i.sword {
  background-position: -25px 0;
}
i.crox {
  background-position: -50px 0;
}
i.directions {
  background-position: 0 -25px;
}
i.ball {
  background-position: -25px -25px;
}
i.grave {
  background-position: -50px -25px;
}
.quest-canvas header {
  zoom: 1;
}
.quest-canvas header:before {
  display: table;
  content: "";
}
.quest-canvas header:after {
  display: table;
  content: "";
  clear: both;
}
.quest-canvas .progress-bar {
  width: 70%;
  float: left;
  height: 30px;
  overflow: hidden;
  background-color: #f7f7f7;
  background-repeat: repeat-x;
  background-image: linear-gradient(bottom, whiteSmoke 50%, #f9f9f9 100%);
  background-image: -o-linear-gradient(bottom, whiteSmoke 50%, #f9f9f9 100%);
  background-image: -moz-linear-gradient(bottom, whiteSmoke 50%, #f9f9f9 100%);
  background-image: -webkit-linear-gradient(bottom, whiteSmoke 50%, #f9f9f9 100%);
  background-image: -ms-linear-gradient(bottom, whiteSmoke 50%, #f9f9f9 100%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}
.quest-canvas .progress-bar span {
  display: block;
  height: 100%;
  width: 0;
  background: url("/images/progress.png") repeat-x;
}
.quest-canvas .score {
  margin-left: 40px;
  text-align: right;
  font-size: 35px;
  line-height: 30px;
}
.world-canvas {
  zoom: 1;
}
.world-canvas:before {
  display: table;
  content: "";
}
.world-canvas:after {
  display: table;
  content: "";
  clear: both;
}
.world-canvas .clues {
  margin: 20px 0;
}
.world-canvas .clues .clue {
  margin: 20px 0 10px;
  border: 5px solid #ccc;
  border-image: url("/images/clues.png") 8 space repeat;
}
.world-canvas .clues .clue p {
  margin: 0;
  padding: 10px;
  background-color: #cfcdba;
  text-align: center;
}
.world-canvas .clues .clue p strong {
  margin-right: 5px;
}
.world-canvas .clues .next-clue {
  margin: 0 auto;
  width: 50px;
  height: 33px;
  cursor: pointer;
  text-indent: -9999px;
  background: url("/images/next.png") no-repeat center center;
}
.world-canvas .clues .next-clueactive {
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
}
.world-canvas .next-worlds,
.world-canvas .suspect {
  margin: 40px 0;
}
.world-canvas ol.worlds,
.world-canvas ol.suspects {
  width: 720px;
  margin: 0 auto;
}
.world-canvas ol.worlds li,
.world-canvas ol.suspects li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  position: relative;
  margin: 20px 0 0 20px;
  width: 200px;
  height: 150px;
  cursor: pointer;
  border: 8px solid #ccc;
  border-image: url("/images/border.png") 8 round repeat;
}
.world-canvas ol.worlds li img,
.world-canvas ol.suspects li img {
  width: 100%;
  height: 100%;
}
.world-canvas ol.worlds li .name,
.world-canvas ol.suspects li .name {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  text-align: center;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.2);
}
