ul,
ol {
  margin: 0;
  list-style: none;
}
body {
  font-family: 'GraphicPixel', sans-serif;
  font-size: 18px;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.9);
  background: url("/images/wood.png") repeat;
}
.wrapper {
  width: 1168px;
  min-height: 500px;
  margin: 0 auto;
  padding: 40px;
  background: url("/images/parchment.png") no-repeat;
}
h1.logo {
  margin: 40px 0;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.1em;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.9);
}
i {
  display: inline-block;
  zoom: 1;
  *display: inline;
  height: 25px;
  width: 25px;
  margin-right: 5px;
  background: url("/images/sprite.png") no-repeat center center;
  vertical-align: text-bottom;
}
i.sign {
  background-position: 0 0;
}
i.sword {
  background-position: -25px 0;
}
i.crox {
  background-position: -50px 0;
}
i.directions {
  background-position: 0 -25px;
}
i.ball {
  background-position: -25px -25px;
}
i.grave {
  background-position: -50px -25px;
}
h2 {
  text-align: center;
}
.clues {
  margin: 20px 0;
}
.clues .clue {
  margin: 20px 0 10px;
  border: 5px solid #ccc;
  border-image: url("/images/clues.png") 8 space repeat;
}
.clues .clue p {
  margin: 0;
  padding: 10px;
  background-color: #cfcdba;
  text-align: center;
}
.clues .clue p strong {
  margin-right: 5px;
}
.clues .next-clue {
  margin: 0 auto;
  width: 50px;
  height: 33px;
  cursor: pointer;
  text-indent: -9999px;
  background: url("/images/next.png") no-repeat center center;
}
.clues .next-clue:active {
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
}
.next-worlds,
.suspect {
  margin: 40px 0;
}
ul.quests,
ol.worlds,
ol.suspects {
  width: 720px;
  margin: 0 auto;
}
ul.quests li,
ol.worlds li,
ol.suspects li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  position: relative;
  margin: 20px 0 0 20px;
  width: 200px;
  height: 150px;
  cursor: pointer;
  border: 8px solid #ccc;
  border-image: url("/images/border.png") 8 round repeat;
}
ul.quests li img,
ol.worlds li img,
ol.suspects li img {
  width: 100%;
  height: 100%;
}
ul.quests li .name,
ol.worlds li .name,
ol.suspects li .name {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  text-align: center;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.2);
}
