@import 'mixins'

// Reset
ul, ol
  margin 0
  list-style none

body
  font-family 'GraphicPixel', sans-serif
  font-size 18px
  text-shadow 1px 1px 0 rgba(255,255,255,0.9)
  background url('/images/wood.png') repeat

.wrapper
  width 1168px
  min-height 500px
  margin 0 auto
  padding 40px
  background url('/images/parchment.png') no-repeat

h1.logo
  margin 40px 0
  font-size 40px
  text-align center
  letter-spacing 0.1em
  text-shadow -1px -1px 0 rgba(0,0,0,0.9)

h2
  text-align center

i
  inline-block()
  height 25px
  width 25px
  margin-right 5px
  background url("/images/sprite.png") no-repeat center center
  vertical-align text-bottom
  &.sign
    background-position 0 0
  &.sword
    background-position -25px 0
  &.crox
    background-position -50px 0
  &.directions
    background-position 0 -25px
  &.ball
    background-position -25px -25px
  &.grave
    background-position -50px -25px

.quest-canvas
  header
    clearfix()
  .progress-bar
    width 70%
    float left
    height 30px
    overflow hidden
    background-color #F7F7F7
    background-repeat repeat-x
    bg-linear-gradient(#f9f9f9, whiteSmoke, 100%, 50%)
    border-radius(5px)
    box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.2))
    span
      display block
      height 100%
      width 0
      background url("/images/progress.png") repeat-x
  .score
    margin-left 40px
    text-align right
    font-size 35px
    line-height 30px

.world-canvas
  clearfix()
  .clues
    margin 20px 0
    .clue
      margin 20px 0 10px
      border 5px solid #ccc
      border-image url("/images/clues.png") 8 space repeat
      p
        margin 0
        padding 10px
        background-color #cfcdba
        text-align center
        strong
          margin-right 5px
    .next-clue
      margin 0 auto
      width 50px
      height 33px
      cursor pointer
      text-indent -9999px
      background url("/images/next.png") no-repeat center center
      &active
        -webkit-transform translateY(1px)
        -moz-transform translateY(1px)

  .next-worlds, .suspect
    margin 40px 0

  ol.worlds, ol.suspects
    choose-list()
